<div class="event">
    <div class="label">
     		<a href="<%-config.gitBase %>">
				<img src="<%= config.userIcon %>" />
			</a>
    </div>
    <div class="content">
      <div class="date">
				<time datetime="<%= date(item.date, 'YYYY/M/D') %>">
					<%= date(item.date, 'YYYY年M月D日') %>
				</time>
      </div>
      <div class="summary">
         <% if (item.link){ %>
				<a href="<%- item.link %>" target="_blank">
					<% if (item.content.title){ %>
							<%= item.content.title %>
					<% } else { %>
							<%= item.link %>
					<% } %>
				</a>
		  <% } else { %>
					<% if (index){ %>
						<a href="<%- url_for(item.path) %>"><%= item.title %></a>
					<% } else { %>
						<%= item.title %>
					<% } %>
		  <% } %>
      </div>
      <div class="extra text">
        <%- item.excerpt %>
			<a href="<%- url_for(item.path) %>" class="excerpt_link"> <%= __('excerpt_link') %></a>
		</div>
	</div>
  </div>
