<div class="ui grid article">
	<div class="ui two wide column"></div>
	<div class="ui twelve wide column piled segment">
		<article>
			<header class="article-info clearfix">
				  <h1 itemprop="name"><a href="<%- url_for(item.path) %>" title="<%= item.title %>" itemprop="url"><%= item.title %></a></h1>
				   <p class="article-time">
					 <time datetime="<%= date(item.date, 'YYYY/M/D') %>" itemprop="datePublished"><i class="time icon"></i>发表于 <%= date(item.date, 'YYYY/M/D') %></time>
   					By <a href="<%=config.gitBase %>" title="<%= config.author %>" target="_blank" itemprop="author"><%= config.author %></a>
				  </p>
			</header>
			<div class="article_content">
				<%- item.content %>
			</div>
		</article>
	</div>
</div>
<% if (!extra) { %>
	<%- partial('plugin/comment') %>
<% } %>
