<div class="event">
    <div class="label">
     		<a href="<%-config.gitBase %>">
				<img src="<%= config.userIcon %>" />
			</a>
    </div>
    <div class="content">
      <div class="date">
				<time datetime="<%= date(item.date, 'YYYY/M/D') %>">
					<%= date(item.date, 'YYYY年M月D日') %>
				</time>
      </div>
      <div class="summary">
         <% if (item.link){ %>
			<% if (item.content.title){ %>
				<a href="<%- item.link %>" target="_blank"><%= item.content.title %></a>
			<% } else { %>
				<a href="<%- item.link %>" target="_blank"><%= item.link %></a>
			<% } %>
		<% } else { %>
			<% if (index){ %>
				<a href="<%- url_for(item.path) %>"><%= item.title %></a></h1>
			<% } else { %>
				<%= item.title %>
			<% } %>
		<% } %>
      </div>
      <div class="extra text">
        <%= item.excerpt %>  --<%= __('excerpt_link') %>
      </div>
			<% console.log( __('read_more')); %>
    </div>
  </div>
